<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav" id="myTopnav">
    <a  class="active">1st User As Admin</a>
     </div>

<link   rel="stylesheet" href="css/app.css">

<div class="sidenav ">
  <a href="/"> Home</a>
  <a href="/allregistered">All Uers data</a>
  <a href="/register">New Register</a>
  <a href="/role">UserRoles Data</a>
</div>


   <%- body %>
</body>
</html> 
