
  
.topnav {
    overflow: hidden;
    background-color:rgb(17, 150, 238);
    padding: 10px 20px;
  }
  
  .topnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
  
    text-decoration: none;
    font-size: 17px;
   


  }

  
  .container {
  
    display: flex;
    justify-content: center;
  }

  
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 70%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  background-color:rgb(17, 150, 238);
  overflow-x: hidden;
  padding-top: 10px;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: rgb(238, 238, 64);
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


center {
  margin-left:auto; 
  margin-right:auto;
}